<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="https://nether.lmnop.network">
    <meta property="og:title" content="Nether - Blockchain Connected Devices">
    <meta property="og:description" content="Introducing Nether, the first consumer devices built on the blockchain">
    <meta property=”og:site_name” content=Nether/>
    <meta property=”og:image” content="http://nether.lmnop.network/images/familyshot.png"/>
    <meta property="og:image:secure_url" content="https://nether.lmnop.network/images/familyshot.png"/>
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="204" />
    <meta property="og:image:alt" content="Nether Devices"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <style>
      @font-face { font-family: Replica; src: url('fonts/lineto-replica-pro-regular.ttf'); }
      @font-face { font-family: ReplicaBold; src: url('fonts/lineto-replica-pro-bold.ttf'); }
      @font-face { font-family: ReplicaLight; src: url('fonts/lineto-replica-pro-light.ttf'); }
    </style>
  </head>
  <body style="background-color: #000000; opacity: 0; transition: all 1s ease" onload="js_Load()">
    <div id="container"></div>
    <script>
      function js_Load() {
        document.body.style.opacity=1;
        document.body.style["background-color"]="#FFFFFF";
      }

      window.environment = '<%= environment %>';
      window.updatedLast = '<%= updatedLast %>';
      window.apiUser = '<%= apiUser %>';
      window.apiPass = '<%= apiPass %>';
      window.infuraToken = '<%= infuraToken %>';
    </script>
    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.googleTrackingId) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.googleTrackingId %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
